:root {
  --light-bg-color: #f6f1ee;
  --dark-bg-color: #4f4a45;
  --orange-header-color: #ed7d31;
  --cream-color: #f0bb78;
  --merriwether-font: "Merriweather Sans", serif;
  --greatvibes-font: "Great Vibes", serif;
}

body {
  margin: 0;
  font-family: var(--merriwether-font);
}

/*Header*/
header {
  background-color: var(--dark-bg-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1,
header p,
header i,
header li {
  color: var(--cream-color);
}

.logo {
  display: flex;
}

.logo-left i {
  font-size: 5rem;
  margin: 0 10px;
}

.logo h1,
.logo p {
  margin: 0;
  text-align: center;
}

.logo h1 {
  font-size: 2.5rem;
}

.logo p {
  font-family: var(--greatvibes-font);
  font-size: 2rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: var(--cream-color);
  padding: 5px;
}

.navbar a:hover {
  color: var(--orange-header-color);
}

section {
  padding: 20px;
  background-color: var(--light-bg-color);
}

section:nth-child(even) {
  background-color: var(--cream-color);
}

section h1 {
  font-family: var(--greatvibes-font);
  font-size: 100px;
  text-align: center;
  margin: 10px auto;
}

/*About Us Section*/
.about-us {
  height: 800px;
  overflow: hidden;
  position: relative;
  padding: 0;
}

.about-us img {
  width: 100%;
  margin: 0;
  filter: brightness(70%);
  position: absolute;
}

.paragraph-divider {
  position: flex;
}

.about-us h1,
.paragraph-divider {
  position: relative;
  z-index: 2;
}

.about-us h1,
.about-us p {
  color: var(--cream-color);
  text-align: center;
}

/*Values Section*/

.values-gallery {
  display: flex;
}

.values-panel {
  position: relative;
  width: 20%;
  height: 500px;
  margin: 20px;
  overflow: hidden;
}
.values-panel img {
  height: 500px;
  margin: 0 auto;
}

.values-panel h2,
.values-panel h3 {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

.values-panel h2 {
  bottom: 7%;
  font-family: var(--greatvibes-font);
  font-size: 48px;
  color: var(--orange-header-color);
}

.values-panel h3 {
  bottom: 5%;
  color: var(--light-bg-color);
}

/* Footer Section */
footer {
  padding: 50px;
  background-color: var(--dark-bg-color);
  color: var(--cream-color);
}

.footer-top {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-top h1 {
  font-size: 3rem;
  text-align: center;
}

.footer-top i {
  font-size: 3rem;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.footer-bottom h3 {
  font-size: 1.5rem;
}

.address-line p {
  margin: 0;
}

.copyright h5 {
  text-align: center;
}

.contact-line {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-line i {
  font-size: 2rem;
}
