:root {
  --light-bg-color: #f6f1ee;
  --dark-bg-color: #4f4a45;
  --orange-header-color: #ed7d31;
  --cream-color: #f0bb78;
  --merriwether-font: "Merriweather Sans", serif;
  --greatvibes-font: "Great Vibes", serif;
}

body {
  margin: 0;
  font-family: var(--merriwether-font);
}

/*Header*/
header {
  background-color: var(--dark-bg-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

header h1,
header p,
header i,
header li {
  color: var(--cream-color);
}

.logo {
  display: flex;
}

.logo-left i {
  font-size: 5rem;
  margin: 0 10px;
}

.logo h1,
.logo p {
  margin: 0;
  text-align: center;
}

.logo h1 {
  font-size: 2rem;
}

.logo p {
  font-family: var(--greatvibes-font);
  font-size: 1rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: var(--cream-color);
  padding: 5px;
}

.navbar a:hover {
  color: var(--orange-header-color);
}

/* Footer Section */
footer {
  padding: 50px;
  background-color: var(--dark-bg-color);
  color: var(--cream-color);
}

.footer-top {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-top h1 {
  font-size: 3rem;
  text-align: center;
}

.footer-top i {
  font-size: 3rem;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.footer-bottom h3 {
  font-size: 1.5rem;
}

.copyright h5 {
  text-align: center;
}

.contact-line {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-line i {
  font-size: 2rem;
}
